<html>

<head>
    <title></title>
    <script type="text/javascript" src="../scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../scripts/angular.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>

<body ng-app="directivesDemo">

   <div ng-controller="DirectiveDemoCtrl">
    <!-- ngbind demo -->
       <!--  <span ng-bind="model1"></span>
        {{model1}}
        <button type="button" ng-click="changeModel1()">Button</button>
 -->
    <!-- ngRepeat demo -->
  <!--   <ul>
        <li ng-repeat="item in items">
            {{item}}
        </li>
        !!!!!{{item}}
    </ul>
    <input type="text" ng-model="item1">
    <button type="button" ng-click="addItem()">Add item</button> -->

    <!-- ngIf demo -->

    <!-- <div ng-if="showPanel">
        <ul>
            <li>
                List 1
            </li>
            <li>
                List 2
            </li>
            <li>
                List 3
            </li>
            <li>
                List 4
            </li>
        </ul>
    </div>
    <button type="button" ng-click="showPanel = !showPanel">Toggle if condition</button> -->

    <!-- ngHide / ngShow demo-->

    <!-- <div ng-show="panel1">
        Panel 1
    </div>

    <div ng-hide="panel1">
        Panel 2
    </div>

    <button type="button" ng-click="panel1 = !panel1">Toggle panel1 </button> -->

    <!-- ngDisable demo -->

    <input type="text" ng-disabled="disableInput">

    <button type="button" ng-click="disableInput = !disableInput">Disable Input</button>

   </div>

</body>

</html>