<!DOCTYPE html>
<html lang="en">

<head>
    <title>Directives</title>

    <!-- Bootstrap -->
    <link href="../css/css/bootstrap.css" rel="stylesheet">
    <link href="../css/css/jquery-ui.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">


</head>

<body ng-app="directiveDemo">
    <div class="container" ng-controller="DemoController">
        <form>
            <div ng-model="employee.name" class="well" contentarea contenteditable unhyphenate></div>
            <label for="employeeName">Employee Name</label>
            <input id="employeeName" type="text" ng-model="employee.name" name="employeeName" unhyphenate>
            <button type="button" ng-click="changeEmployeeName()">Change Employee Name</button>
            <button type="button" ng-click="addHyphen()">Add Hyphen</button>
        </form>
        
    </div>
    <script type="text/javascript" src="../scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../scripts/angular.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.js"></script>
    <script type="text/javascript" src="../scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript" src="script.js"></script>

</body>

</html>