<!DOCTYPE html>
<html lang="en">

<head>
    <title>Filters</title>

    <!-- Bootstrap -->
    <link href="../css/css/bootstrap.css" rel="stylesheet">
    <link href="../css/css/jquery-ui.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">


</head>

<body ng-app="FilterApp">
    <div class="container" ng-controller="FilterController">
       <label for="currency">Currency</label>
       <input type="text" ng-model="employee.salary" id="currency">
       <span id="showCurrency">
            {{employee.salary | currency}}
       </span>
       <label for="name">Name</label>
       <input type="text" ng-model="employee.name" id="name">
       <span id="showName">
            {{employee.name | uppercase}}
       </span>

       <label for="department">Department</label>
       <input type="text" ng-model="employee.department" id="department">
       <span id="showDepartment">
            {{employee.department | lowercase}}
       </span>
    </div>
    <script type="text/javascript" src="../scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../scripts/angular.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.js"></script>
    <script type="text/javascript" src="../scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript" src="app.js"></script>


</body>

</html>